<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Welcome</title>
</head>
<body>
	<h1>Create New Account</h1>
	<Form action="Make" method="post">
		<p>Name :</p><input type="text" name="name" required><br>
		<p>Password :</p><input type="password" name="password" required><br>
		<p>Age</p><input type="number" name="age" required><br>
		<p>How much you will put now :</p><input type="number" name="money" required><br>
		<p>Country :</p><input type="text" name="country" required><br>
		<p>City :</p><input type="text" name="city" required><br>
		<p>Email :</p><input type="text" name="email" required><br>
		<p></p>
		<input type="radio" name="gender" value="Male" checked>Male<br>
		<input type="radio" name="gender" Value="Female">Female<br><br>
		<input type="submit" value="Create New Account">
	</Form>
</body>
</html>