<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th >Name</th>
				<th>Password</th>
				<th>Age</th>
				<th>Money</th>
				<th>Country</th>
				<th>City</th>
				<th>Email</th>
				<th>Gender</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="x : ${table}">
				<th th:text="${x.name}"></th>
				<th th:text="${x.password}"></th>
				<th th:text="${x.age}"></th>
				<th th:text="${x.money}"></th>
				<th th:text="${x.country}"></th>
				<th th:text="${x.city}"></th>
				<th th:text="${x.email}"></th>
				<th th:text="${x.gender}"></th>
			</tr>
		</tbody>
	</table>

</body>
</html>